    .nombre{
        padding: 0.4em;
        letter-spacing: 0.4em;
        font-size: 18px;
        font-weight: 750;
        font-family:Arial, Helvetica, sans-serif;
        color: rgb(219, 175, 230);
        text-align: center;
        }
    .nav-item{
            padding: 0.4em;
            letter-spacing: 0.4em;
            font-size: 20px;
            font-weight: 750;
            font-family:Arial, Helvetica, sans-serif;
            color: rgb(10, 17, 110);
            }

    body { 
        background: rgb(63,94,251);
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        }
  
    header{
        background: linear-gradient(90deg, rgb(245, 41, 194) 0%, rgb(35, 4, 63) 35%, rgb(16, 56, 165) 100%);
        }
    
    .img1{ 
        width:100%;
        height:auto;
        border-radius:300px;
        padding: 2.5em;
        }

      
  /*section*/
  section{text-align: center; width: 40%; float:left;}
 /* section h1{ text-align: center; padding: 0.5em;color: blueviolet;font-size: 45px;font-family: Georgia, 'Times New Roman', Times, serif;}
  section h2{ text-align: center; padding: 0.5em;color: rgb(226, 43, 128); }
  section h3{ text-align: center; padding: 0.5em;color: cornflowerblue; margin-left: auto; margin-right: auto; }
  */

  /*aside*/
  aside{ text-align: center; padding: 4.2em;color: rgb(48, 4, 88);font-size: 22px;font-family: Georgia, 'Times New Roman', Times, serif;}
  /*{width: 25%;float:left;}*/

  .social{
    text-align: center;
    letter-spacing: 1em;
   }

   footer{
    text-align: center;
   }

   .mision{ 
    text-align: center; 
    color: rgb(48, 4, 88);
    font-size: 23px;font-family: Georgia, 'Times New Roman', Times, serif;
    
    }

    .vision{ 
        text-align: center; 
        color: rgb(48, 4, 88);
        font-size: 23px;font-family: Georgia, 'Times New Roman', Times, serif;
       
        }
    
    .contacto{
        color: rgb(235, 196, 220); 
    }